<div [formGroup]="form"
     class="signup-form-container">
<div class="col-md-6">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput
             [formControl]="useremail">
      <mat-error *ngIf="useremail.hasError('required') || form.submitted">Required</mat-error>
    </mat-form-field>
  </div>
  <div class="col-md-6">
    <mat-form-field>
      <mat-label>Phoneno</mat-label>
      <input matInput
            type="number" [formControl]="userphnnumber">
      <mat-error *ngIf="userphnnumber.hasError('required') || form.submitted">Required</mat-error>
      <mat-error *ngIf="userphnnumber.hasError('pattern') || form.submitted">Please, Enter 10 digit Mobile Number.</mat-error> 
    </mat-form-field>
  </div>
</div>



<!-- <div class="col-md-6">
<mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput
           [type]="(hide) ? 'password' : 'text'"
           [formControl]="password">
    <button mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{ (hide) ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="password.hasError('required') || form.submitted">Required</mat-error>
  </mat-form-field>
</div> -->

<!-- <div class="col-md-6">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput
           [formControl]="username">
    <mat-error *ngIf="username.hasError('required') || form.submitted">Required</mat-error>
  </mat-form-field>
</div> -->