<!-- <h1>HTML to PDF in Angular 9</h1>
<button (click)="generatePDF()">Generate PDF</button>

<table id="contentToConvert" border="1" width="100%">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Article</th>
      <th>Technology</th>
      <th>Author</th>
    </tr>
    <tr>
      <td *ngFor="let name of tableData">{{name.name}}</td>
    </tr> -->
    <!-- <tr>
      <td>2</td>
      <td>TypeAhead With Custom Result Template In Angular 9</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Circular Progress Bar In Angular 9</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Display Loader/Spinner On Each HTTP Calls In Angular 9</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Form Validation In Angular 9</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Building Responsive Carousel Slider In Angular 9</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>7</td>
      <td>How To Implement Lazy Loading Module In Angular 9</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Separate Development And Production URL In Angular 9</td>
      <td>Angular</td>
      <td>Yasin</td>
    </tr> -->
  <!-- </tbody>
</table> -->



  <div class="white-back row" style="padding: 1.5rem;" id="contentToConvert">    
    <div id="top-content">    
      <div style="margin-top: 1rem;">    
        <p style="color:green">    
          Dear members,    
        </p>    
      </div>    
      <div>    
        Added some fake text: Please ignore this is test text, Please ignore this is test text, Please ignore this is test text.    
      </div>    
      <br />    
       <table id="customers" class="table table-striped" width="100%">    
           
        <thead width="100%" width="100%">    
            <tr class='warning' >    
                 <th>No.</th>    
                <th>Country</th>    
                <th>Population</th>    
                <th>Date</th>    
                <th>Age</th>    
            </tr>    
        </thead>    
        <tbody width="100%">    
            <tr>    
                <td>1</td>    
                <td>Chinna</td>    
                <td>1,363,480,000 000 000</td>    
                <td>March 24, 2014</td>    
                <td>19.1</td>    
            </tr>    
            <tr>    
                <td>2</td>    
                <td>India</td>    
                <td>1,241,900,000</td>    
                <td>March 24, 2014</td>    
                <td>17.4</td>    
            </tr>    
            <tr>    
                <td>3</td>    
                <td>United States</td>    
                <td>317,746,000</td>    
                <td>March 24, 2014</td>    
                <td>4.44</td>    
            </tr>    
            <tr>    
                <td>4</td>    
                <td>Indonesia</td>    
                <td>249,866,000</td>    
                <td>July 1, 2013</td>    
                <td>3.49</td>    
            </tr>    
            <tr>    
                <td>5</td>    
                <td>Brazil</td>    
                <td>201,032,714</td>    
                <td>July 1, 2013</td>    
                <td>2.81</td>    
            </tr>    
        </tbody>    
    </table>    
    </div>    
     </div>   

     <button class="btn btn-primary save btn_div" (click)="generatePDF()"> Download </button>  